/* Rounded corner CSS style with images */
/* images obtained from http://www.generateit.net/rounded-corner/index.htm */

img.placeborder {
	height: 40px;
	border: none;
}

.box_top{ 
	margin:0px;
	padding:0px 40px 0px 0px;
	height:40px;
}

.box_bottom { 
	margin:0px;
	padding:0px 40px 0px 0px;
	height:40px;
}

.no_overflow{
	overflow:hidden;
}

.box_body{
	padding:0px;
	margin:0px;
}

/* Red rounded box values */
.redboxtop {
	background: url("../images/roundedcorners/red_top_right.png") no-repeat top right; 
}

.redboxbottom {
	background: url("../images/roundedcorners/red_bottom_right.png") no-repeat top right; 
}

.redbox{
	border-left: 8px solid #FC6156;
	border-right: 8px solid #FC6156;
	background-color:#FFD2BF;
}

/* Blue rounded box values */
.blueboxtop {
	background: url("../images/roundedcorners/blue_top_right.png") no-repeat top right; 
}

.blueboxbottom {
	background: url("../images/roundedcorners/blue_bottom_right.png") no-repeat top right; 
}

.bluebox{
	border-left: 8px solid #6A6DCF;
	border-right: 8px solid #6A6DCF;
	background-color:#C6C7F7;
}

/* Green rounded box values */
.greenboxtop {
	background: url("../images/roundedcorners/green_top_right.png") no-repeat top right; 
}

.greenboxbottom {
	background: url("../images/roundedcorners/green_bottom_right.png") no-repeat top right; 
}

.greenbox{
	border-left: 8px solid #1C9614;
	border-right: 8px solid #1C9614;
	background-color:#B2F7A8;
}

/* Yellow rounded box values */
.yellowboxtop {
	background: url("../images/roundedcorners/yellow_top_right.png") no-repeat top right; 
}

.yellowboxbottom {
	background: url("../images/roundedcorners/yellow_bottom_right.png") no-repeat top right; 
}

.yellowbox{
	border-left: 8px solid #FCEC0A;
	border-right: 8px solid #FCEC0A;
	background-color:#F7F78D;
}

/* Orange rounded box values */
.orangeboxtop {
	background: url("../images/roundedcorners/orange_top_right.png") no-repeat top right; 
}

.orangeboxbottom {
	background: url("../images/roundedcorners/orange_bottom_right.png") no-repeat top right; 
}

.orangebox{
	border-left: 8px solid #FC7914;
	border-right: 8px solid #FC7914;
	background-color:#F7D185;
}

/* Violet rounded box values */
.violetboxtop {
	background: url("../images/roundedcorners/violet_top_right.png") no-repeat top right; 
}

.violetboxbottom {
	background: url("../images/roundedcorners/violet_bottom_right.png") no-repeat top right; 
}

.violetbox{
	border-left: 8px solid #A006CF;
	border-right: 8px solid #A006CF;
	background-color:#E9C8F7;
}

/* Pink rounded box values */
.pinkboxtop {
	background: url("../images/roundedcorners/pink_top_right.png") no-repeat top right; 
}

.pinkboxbottom {
	background: url("../images/roundedcorners/pink_bottom_right.png") no-repeat top right; 
}

.pinkbox{
	border-left: 8px solid #D923A2;
	border-right: 8px solid #D923A2;
	background-color:#F77CEF;
}

/* Rounded corner code end */

/* rounded corner css3 */

.rounded_box {
	border-radius: 40px; 
	padding:30px;
	-moz-border-radius: 40px; 
	-webkit-border-radius: 40px; 
}

.red_rounded_box {
	border: 8px solid #FC6156;
	background-color:#FFD2BF;
}

.blue_rounded_box {
	border: 8px solid #6A6DCF;
	background-color:#C6C7F7;
}

.green_rounded_box {
	border: 8px solid #1C9614;
	background-color:#B2F7A8;
}

.yellow_rounded_box {
	border: 8px solid #FCEC0A;
	background-color:#F7F78D;
}

.orange_rounded_box {
	border: 8px solid #FC7914;
	background-color:#F7D185;
}

.violet_rounded_box {
	border: 8px solid #A006CF;
	background-color:#E9C8F7;
}

.pink_rounded_box {
	border: 8px solid #D923A2;
	background-color:#F77CEF;
}

/* end rounded corner css3 */