#profile-content-1.sub-tab-content.sub-tab-content-selected.main.padded(aria-labelledby='profile-tab-1', role='tabpanel', tabindex='0', aria-hidden='false')
    h1 About me

    p I have completed my Bachelors in Technology (Computer Science) with distinction. I have 5 years of experience as a User Interface (UI) developer.

    p
        | I have worked 1 year and 8 months with Semantico on various digital marketing projects for the publishing industry, some of the latest being
        a(href="http://content.iospress.com/", target="_blank")   IOS Press
        |,
        a(href="http://www.rmmonline.co.uk/", target="_blank")   RMM online
        | and
        a(href="https://www.onepetro.org/", target="_blank")   One petro.

    p I worked for 3 years (as a contactor to Amadeus from Ness) and 4 months (as a direct employee of Amadeus) on Air Canada Website project (www.aircanda.com) with Amadeus which followed agile development.

    p My technical skillset include being able to code semantically correct HTML, expert level css2 and out of the box solutions with javascript (jquery, require.js). I have also experience working with require.js, backbone.js, handlbars.js, css3, html5, git to name a few more recent ones. Please see my technical stack for detailed information.

    p I also possess the following soft skills, which I should be able to prove within a short period as a colleague:

    ul
        li Comprehensive problem solving abilities
        li Excellent verbal and written communication skills
        li Strong sense of ownership
        li Quick learner with a natural aptitude for programming
        li Good team facilitator