ul#profiletab-list-id.block.tab-list.sidebar.right(role='tablist')
    li
        a#profile-tab-1.sub-tab.sub-tab-selected(href='#profile-content-1', role='tab', aria-controls='profile-content-1', aria-selected='true', data-tab='#profile-content-1') Introduction
    li
        a#profile-tab-2.sub-tab(href='#profile-content-2', role='tab', aria-controls='profile-content-2', aria-selected='false', data-tab='#profile-content-2') Technical Stack
