.block
    label(for="custom-select-id") Custom select box
    select.custom-select#select-id(name="custom-select-name")
        option(value="All Content") All Content
        option(value="Hasta Leugo") Hasta Leugo
        option(value="Adios") Adios
    span.custom-select-filler.custom-select-display
        span.custom-select-display-text All Content
        .custom-select-btn-outer
            .custom-select-btn