
.lightbox.block
	figure
		a.js-lightbox(href='img/sams.png')
			img(src='img/sams.small.png')
			p.caption
				|image caption text a image caption text a image caption text a image caption text a image caption text a image caption text a image caption text a image caption text a image caption text a image caption text a image caption text a image caption text a image caption text a image caption text a a image caption 



