#edu-content-1.sub-tab-content.sub-tab-content-selected.main.padded(aria-labelledby='edu-tab-1', role='tabpanel', tabindex='0', aria-hidden='false')
    h1 Academia
    table.section_content
        tr
          th Field of Education
          th Syllabus/University
          th Duration/Year of Completion
          th Percentage
        tr
          td B.TECH in Computer Science and Engineering
          td
            span(title='The University of Kerala (UoK), formerly the University of Travancore, is an affiliating university located in Trivandrum in the state of Kerala, India') Kerala University
            |   (Main Subjects: Object Oriented Programming, Databases, Data Structures)
          td 2004-2008
          td 75.5%
        tr
          td 12th Standard
          td
            | A.I.S.S.C.E from
            abbr(title='The Central Board of Secondary Education is a Board of Education for public and private schools, under the Union Government of India.')    CBSE
            |  (Main Subjects: Maths, Computer Science)
          td 2004
          td 82%
        tr
          td 10th Standard
          td
            | A.I.S.S.E from
            abbr(title='The Central Board of Secondary Education is a Board of Education for public and private schools, under the Union Government of India.')    CBSE
          td 2002
          td 89.6%