ul#edutab-list-id.block.tab-list.sidebar.right(role='tablist')
    li
        a#edu-tab-1.sub-tab.sub-tab-selected(href='#edu-content-1', role='tab', aria-controls='edu-content-1', aria-selected='true', data-tab='#edu-content-1') Academia
    li
        a#edu-tab-2.sub-tab(href='#edu-content-2', role='tab', aria-controls='edu-content-2', aria-selected='false', data-tab='#edu-content-2') Extra curricular activities
