.social-media-links.social-media-tags
    strong.title Join my network:

    a(href="https://twitter.com/arathi_m_s", title="View my Twitter account", target="_blank")
        i.icon-twitter.icon.icon-big
            span.visuallyhidden
                | View my twitter account
    a(href="http://uk.linkedin.com/pub/arathi-sreekumar/56/aa5/3a8", title="View my profile on LinkedIn", target="_blank")
        i.icon-linkedin.icon.icon-big
            span.visuallyhidden
                | View my profile on LinkedIn
    a(href="https://github.com/arathi-sreekumar", title="View my github account", target="_blank")
        i.icon-github-sign.icon.icon-big
            span.visuallyhidden
                | View my github account
    a(href="http://beknown.com/arathi-sreekumar", title="View my profile at Monster.co.uk", target="_blank")
        i.icon-monster.icon.icon-big
            span.visuallyhidden
                | View my account at monster.co.uk