.social-media-share.social-media-tags
    | Share this article: 
    br
    a.share-twitter(href="https://twitter.com/intent/tweet?")
        i.icon-twitter.icon.icon-big
            span.visuallyhidden
                | Twitter
    a.share-facebook(href="http://www.facebook.com/share.php?")
        i.icon-facebook.icon.icon-big
            span.visuallyhidden
                | Facebook
    a.share-linked-in(href="http://www.linkedin.com/shareArticle?mini=true",data-title="title of article",data-source="source of article",data-summary="summary of article")
        i.icon-linkedin.icon.icon-big
            span.visuallyhidden
                | Linkedin
    a(href="http://www.rssfeed.com")
        i.icon-rss.icon.icon-big
            span.visuallyhidden
                | Rss feed
    a.share-googleplus(href="https://plus.google.com/share?")
        i.icon-google-plus.icon.icon-big
            span.visuallyhidden
                | Googleplus