header#header.header.block(tabindex=0)
    .container
        .header-branding.col.col-1by2
          img(src='http://placehold.it/140x100', alt='logo')
          span Header Title
        .header-login.col.col-1by2
          | Access provided by: Institute name
