// 3 Columnn 1/4 wide sidebars and 1/2 wide main section 
.block
	aside.col-1by4.col
		| This is the left sidebar
	.col-1by2.col
		| This is the main section
	aside.col-1by4.col
		| This is the right sidebar
