#nav-tab-professional-content.tab-content(aria-labelledby='nav-tab-professional', role='tabpanel', tabindex='0', aria-hidden='false')
    .tab-acc-min.tabs.tab-block.js-sub-tab-block
        include ../companies/sidebar
        include ../companies/ness
        include ../companies/amadeus
        include ../companies/semantico