#nav-tab-home-content.tab-content.tab-content-selected(aria-labelledby='nav-tab-home', role='tabpanel', tabindex='0', aria-hidden='true')

  .tab-acc-min.tabs.tab-block.js-sub-tab-block
    include ../profile/sidebar
    include ../profile/introduction
    include ../profile/techstack

