.location
	p
		//
		<#if something>
		.another
			.vkl(href='${test.kli}' class='${test.kli}')
			//
		#some
			P
				span hello
			//
			<#noescape>${test.kli}<#/noescape>
		//
		</#if>
	script(type='text/javascript', src!='http://s?key=YOUR_API_KEY&sensor=SETE_OR_FAl')

	//- IMPORTANT ! after the src attributte sp the content will not be escaped

	include navs/nav-1
