a.skiplinks(href="#header") Go to Header
a.skiplinks(href="#nav") Go to Navigation
a.skiplinks(href="#search-input") Go to search
a.skiplinks(href="#content") Go to Main Content
a.skiplinks(href="#footer") Go to footer