#tabsid-content-2.sub-tab-content.main.padded(aria-labelledby='tabsid-tab-2', role='tabpanel', tabindex='0', aria-hidden='true')
    h1
        a(href='http://www.amadeus.com/', target='_blank') Amadeus Software Labs India Pvt Ltd

    p.paragraph
        | I joined Amadeus on June 29th 2012 as part of a transfer in ownership of the Amadeus Labs contract team from Ness to Amadeus to be a part of Amadeus&apos;s own development center in Bangalore.
    p.paragraph
        | I continued in the AirCanada Website Project, with an appraised position as Senior Software Engineer, and an exceptional bonus offer and a revised pay scale.
    p.paragraph
        | During my tenure I worked on several critical changes such as revamping the seat selection page, changing the rebooking page flows, mediaplex tag changes, adding new baggage rules to name a few. I also helped train the new joinees and gave sessions on domain, process and tools related to the project.
    p.paragraph
        | I left Amadeus on 17th October 2012, when I got married and relocated to UK.
