#tabsid-content-1.sub-tab-content.sub-tab-content-selected.main.padded(aria-labelledby='tabsid-tab-1', role='tabpanel', tabindex='0', aria-hidden='false')
    h1
        a(href='http://www.ness.com/Global/Pages/GlobalSite.aspx', target='_blank') Ness Technologies
    p.paragraph
        | I joined Ness on July 21st 2009 as a Graduate Trainee. I was assigned to work on
        a(href='http://www.aircanada.com', target='_blank') Air Canada Website Project
        |  of Amadeus who was then a client of Ness, on October 1st 2009. I have since had a fast growth, to a Software Engineer by 2010. I received exceptional bonuses and high salary increments throughout my career, with extremely good appraisals.
    p.paragraph
        | During my tenure I gained extensive domain knowledge and UI development skills in HTML, CSS, HTML 5, Javascript and JQuery. The team worked in a agile development environment with a five week release cycle. I also worked with Google Analytics, A/B testing, Mediaplex, Custom tracking tools, revamping page flows and redesigning the website template.
    p.paragraph
        | I also played a part in mentoring new joinees, giving training sessions on the development process and tools used.
    p.paragraph
        | I left Ness on June 28th 2009 to join Amadeus as part of an internal transfer plan where the Amadeus teams where transfered from the Ness management directly to Amadeus.
