ul#tabsid-list-id.block.tab-list.sidebar.right(role='tablist')
    li
        a#tabsid-tab-1.sub-tab.sub-tab-selected(href='#tabsid-content-1', role='tab', aria-controls='tabsid-content-1', aria-selected='true', data-tab='#tabsid-content-1') Ness
    li
        a#tabsid-tab-2.sub-tab(href='#tabsid-content-2', role='tab', aria-controls='tabsid-content-2', aria-selected='false', data-tab='#tabsid-content-2') Amadeus
    li
        a#tabsid-tab-3.sub-tab(href='#tabsid-content-3', role='tab', aria-controls='tabsid-content-3', aria-selected='false', data-tab='#tabsid-content-3') Semantico
