footer#footer.footer.block(tabindex='0')
    .container
        .col.footer-links
            | contact me at
            a(href="mailto:arathi.m.s@gmail.com") arathi.m.s@gmail.com
        .col.footer-info
          include ../socialmedia/socialmedia-links