footer#footer.footer.block(tabindex=0)
    .container
        .col.footer-links
            a(href='#') Home
            a(href='#') Contact us
            a(href='#') Help
            a(href='#') About
            a(href='#') My account
            a(href='#') Terms &nbsp; conditions
            a(href='#') Privacy policy
            a(href='#') Copyright &amp; permissions

        .col.footer-info
            .block
                a(href='#')
                    img(src='http://placehold.it/40x80', alt='logo')
                    span.small-text
                        | Some thing to test
                        br
                        | More
                a(href='#')
                    img(src='http://placehold.it/40x80', alt='logo')
                    span.small-text
                        | Lorem ipsum
                        br
                        | testing
                a(href='#')
                    img(src='http://placehold.it/100x100', alt='logo')

                include ../socialmedia/socialmedia-links

                .company-info.block
                    .address
                        | Company name
                        sup *
                        | Address line 1
                        sup *
                        | Address line 2
                        br
                        | +11 11 11 11 11
                        sup *
                        | test@test.com
                        sup *
                        | www.test.com

                    img.company-logo(src='http://placehold.it/100x100', alt='logo')