nav#nav.nav-3.block.nav
  .container
    ul.nav-item.nav-sp-main
        //
           Add selected class if you want to display the nav for the current page as selected
        li.nav-item.selected
          a(href='#') Home
        li.nav-item
          a(href='#') Nav 2
        li.nav-item
          a(href='#') Nav 3
        li.nav-item
          a(href='#') About
    ul.nav-item.nav-sp-side.nav-sub
        li
          a.nav-sub-link(href='#') Sub nav 1
          a.nav-sub-link(href='#') Sub nav 2
