nav.nav.nav-1#nav(tabindex=0)
  .container
    ul.block
        //
           Add selected class if you want to display the nav for the current page as selected
        li.nav-item.selected
          a(href='#') Home
        li.nav-item
          a(href='#') About
        li.nav-item
          a(href='#') Nav3
        li.nav-item
          a(href='#') Nav4
        li.nav-item
          a(href='#') Nav5
